.grid
  %header.column-0.neko-header#header
    .neko-header__title
      = link_to root_url, class: 'neko-header__title__logo' do
        = image_tag asset_pack_path('media/images/neko/neko-logo.png')

